language: java
jdk:
  - oraclejdk8
sudo: false
install: true
addons:
  sonarcloud:
    organization: "lukaszsieczkowski-github"
    token:
      secure: "d247b7b0d6ab983ba8ab9f3183ec3beca9c3107a"
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
notifications:
  slack:
    rooms:
      - hstplatform:4GSWctwkCjJywpIz39B1RCFc#general
  on_start: always
  on_success: always
  on_failure: always
 