language: java
jdk:
  - oraclejdk8
sudo: false
install: true
addons:
  sonarcloud:
    organization: "lukaszsieczkowski-github"
    token:
      secure: "647a6b4cf6ef8aac447f7a60f0112bd6fcc6ca52"
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
notifications:
  slack:
    rooms:
      - hstplatform:4GSWctwkCjJywpIz39B1RCFc#general
  on_start: always
  on_success: always
  on_failure: always
services:
- mysql